---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import { content } from '../content/pl';
---

<BaseLayout content={content} lang="pl">
  <Header content={content} />
  <main>
    <Hero content={content} />
    <About content={content} />
    <Projects content={content} />
    <Skills content={content} />
    <Contact content={content} />
  </main>
  <Footer content={content} />
</BaseLayout>
